<div class="container">

    <div class="card">
        <div class="card-header">
          Usuario por Roles

    

        </div>
        <div class="card-body">
            <div class="table-responsive">
                
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Id Usuario</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Rol</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let x of usuarioRender | customerEmailFilter:valueSearch; let i = index">                     
                      <td>{{x.idUsuario}}</td>
                      <td>{{x.descripcion}}</td>
                      <td>{{x.idRol}}</td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
        </div>
      </div>
  
</div>
